@font-face {
    font-family: 'Taco Modern';
    src: url('/fonts/TacoModern.woff2') format('woff2'),
        url('/fonts/TacoModern.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Game Buble - Personal Use';
    src: url('/fonts/GameBublePersonalUse.woff2') format('woff2'),
        url('/fonts/GameBublePersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gantlemind';
    src: url('/fonts/Gantlemind.woff2') format('woff2'),
        url('/fonts/Gantlemind.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ghost HOuses';
    src: url('/fonts/GhostHOuses.woff2') format('woff2'),
        url('/fonts/GhostHOuses.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Justinian';
    src: url('/fonts/Justinian.woff2') format('woff2'),
        url('/fonts/Justinian.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}